body{
	display: grid;
	justify-content: center;
	font-family: 'Playfair Display', serif, monospace, "Book Antiqua" , Arial, "Times New Roman";
}

.skip a{
	background: white;
	left: 0;
	padding: 6px;
	-webkit-transition: top 1s ease-out;
	transition: top 1s ease-out;
	z-index: 1;
	position: absolute;
	left: -500px;
	top: -40px;
  }
  
  .skip a:focus{
	background: white;
	top: 0;
	left: 0;
	padding: 6px;
	-webkit-transition: top 1s ease-out;
	transition: top 1s ease-out;
	z-index: 1;
	position: absolute;
  }

header{
	font-size: 14px;
	height: 12vh;
	background-image: url("../images/bcg.jpg");
	background-size:cover;
	align-items: center;
	justify-content: right;
}

header p{
	font-size: 14px;
	width: 80%;
	margin: 50px 0 auto 10px;
	padding: 5px;
	color:black;
	background-color:rgba(255, 255, 255, 0.741);
	font-weight: bold;
	line-height: 125%;
	animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

nav{
	padding-top: 10px;
	text-align: end;
}

nav li{
	display: inline-flex;
	flex-direction: row;
	padding: 0 10px;
}

nav li a{
	color:rgb(0, 0, 0);
	text-decoration: none;
	font-weight: bold;
}

.active{
	color:white;
	background-color:rgba(151, 47, 47, 0.797);
}

h1{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding: 15px;
}

p{
	font-size: 16px;
	margin: 0 10px;
	text-align:left;
	line-height: 150%;
}


strong{
	font-weight: bold;
}

img{
	max-width:100vw;
}


@keyframes move{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes float1 {
	0% {
	  transform: translatey(0px);
	}
	25% {
	  transform: translatey(-5px);
	}
	50% {
		transform: translatey(0px);
	}
	75% {
		transform: translatey(5px);
	}
	100% {
	  transform: translatey(0px);
	}
}

@keyframes float2 {
	0% {
	  transform: translatex(0px);
	}
	25% {
	  transform: translatex(-5px);
	}
	50% {
		transform: translatex(0px);
	}
	75% {
		transform: translatex(2.5px);
	}
	100% {
	  transform: translatex(0px);
	}
}

footer{
	font-size: 12px;
	padding: 15px 0;
	margin-top: 10px;
	background-color: black;
	color: white;
}

footer p, footer a{
	font-size: 12px;
	color:bisque;
}

footer a:visited{
	color:aquamarine;
}


/* HOME style */

main.home{
	text-align: center;
}

.howwestart{
	text-align: center;
}

img.newsroom{
	margin-bottom: 20px;
}

.phil{
	margin:0 30px;
	text-align: left;
}

.phil i{
	animation: float1 6s ease-in-out infinite;
}

.phil p:first-child{
	margin-top: 10px;
	margin-bottom: 20px;
}


.phil .quote{
	text-align: right;
	margin-top: 20px;
}


/* EVENTS style */
.events main{
	text-align: center;
}

.events img{
	width: 75vw;	
}

.events aside{
	text-align: right;
	margin-bottom: 20px;
	margin-right: 8px;
}

.events aside a {
	font-style: italic;
}

.events main i{
	animation: float2 6s ease-in-out infinite;
}


/* TEAM style */

.team nav li a{
	color:rgb(255, 255, 255);
}

body.team{
	color: aliceblue;
	background-color:rgb(23, 22, 22);
}

header.team{
	height: 25vh;
	background-image: url("../images/gallery_9_team.png");
	background-size:cover;
	align-items: center;
}

.gallery img:hover{
	border: solid white 1px;
}

.gallery{
	display: flex;
	flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
	align-items: center;
}

.team figure{
	position: relative;

	margin: 12px;
	padding: 0 0 10px 0;
	flex-basis: 100%;
}

.team figcaption {
	position: absolute;
	bottom: 30px;
	width: 100%;
	padding: 5px 0;
	line-height: 150%;
	background-color: rgba(151, 47, 47, 0.797);
	align-self: center;
}

.team img{
	margin: 0 0 0 -3px;
	padding: 1px;
	width: 100%;
	height: 100%;
}


/* ABOUT style */

main.about{
	text-align: center;
}

main.about h1.shows{
	margin:20px 0 10px 0;
}

p.shows{
	text-align: center;
	line-height: 200%;
}

div.acn{
	width: 70vw;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-items: center;
	margin-left: auto;
	margin-right: auto;
}

h1.acn{
	grid-column: 1/2;
	line-height: 150%;
}

img.acn{
	grid-column: 2/3;
	width:120px;
	animation: float2 6s ease-in-out infinite;
	padding: 15px;
}


img.workplace{
	margin-top: 15px;
}

form{
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
}

form h2{
	font-size: 16px;
	font-style: italic;
	margin: 20px 0 10px 0;
	grid-column: 1/-1;
}

form label{
	margin:5px 0;
}

form button{
	grid-column: 1/-1;
	margin:5px 0;
	width: auto;
	justify-self: center;
}

form input{
	width: 70%;
}



/* Slide */

/* Slideshow container */
.home .div2 {
	position: relative;
	margin: auto;
}

img.newsroom{
	width: 100vw;
	margin-top: 5px;
	margin-bottom: 5px;
}
  
  /* Number text (1/3 etc) */
.numbertext {
	color: rgb(51, 161, 189);
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
  
  /* The dots/bullets/indicators */
.dot {
	height: 10px;
	width: 10px;
	margin: 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
  
.home .div2 .active {
	background-color: #717171;
}
  
  /* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}
  
@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
 }


/* =========== */
/* tablet view */
/* =========== */
@media all and (min-width:700px) {
	main p{
		font-size: 20px;
		margin:auto 25px;
	}

	nav a{
		font-size: 18px;
	}

	/* Team */
	header.team p{
		font-size: 18px;
	}

	.gallery{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content:space-evenly;
		align-items: center;
	}

	.team figure{
		/* flex-basis: 500px; */
		max-width: 650px;
	}

	.team img{
		min-height: 275px;
	}

	/* Home */
	.home main p{
		font-size: 20px;
	}

	img.newsroom, img.don-quixote{
		width: 70vw;
	}

	.home h1{
		font-size: 24px;
	}

	.howwestart{
		font-size: 22px;
		margin: 10px;
	}

	.home p, .home i{
		margin-left: 30px;
		margin-right: 30px;
	}


	/* EVENTS */

	.events img{
		margin: 15px auto;
		width: 60vw;	
	}

	/* About */
	div.acn{
		width: 50vw;
		margin-left: auto;
		margin-right: auto;
	}

	form{
		width: 50vw;
	}

}

/* ============ */
/* desktop view */
/* ============ */

@media all and (min-width:1000px) {
	/* Home */
	.home header{
		width: 100vw;
	}

	.home img.newsroom{
		width: 45vw;
		margin-bottom: 15px;
	}

	.home main{
		display: grid;
		row-gap:20px;
		column-gap: 10px;
		width: 90vw;
		justify-items: center;
		align-items: center;
		grid-template-columns: 1fr 1fr;
		margin-left: auto;
		margin-right: auto;
	}

	.home .div2{
		grid-column: 1/-1 ;
	}

	.home .div3 img{
		width: 45vw;
	}

	.home .div1{
		grid-column: 1/-1;
	}

	.home .div3{
		grid-column: 1/2;
	}

	.home .div4{
		grid-column: 2/3;
	}

	#philquote {
		line-height: 200%;
	}

	.div4 h1{
		margin-bottom: 30px;
	}

	.home .div5{
		grid-column: 1/-1;
		grid-row: 4/5;
		margin: 20px 15px;
	}

	/* TEAM */
	header.team{
		height: 50vh;
	}

	header.team p{
		font-size: 22px;
	}

	h1.team{
		font-size: 24px;
		margin: 15px;
	}

	.team figure{
		margin-bottom: 30px;
		max-width: 475px;
	}

	.gallery figcaption{
		font-size: 18px;
	}


	/* About */
	form{
		width:50vw;
		justify-self: center;
	}

	/* EVENT */
	.events header{
		width: 100vw;
	}

	.events main{
		display: grid;
		font-size: 20px;
		width: 90vw;
		grid-template-columns: 1fr 1fr;
		justify-items: center;
		align-items: stretch;
		margin-left: auto;
		margin-right: auto;
	}

	.events img{
		width:40vw;
	}

	.events .div1{
		grid-column: 1/2;
	}

	.event .div2{
		grid-column: 2/3;
	}

	.events .div3{
		width: 50vw;
		grid-column: 1/-1;
	}

	/* About */
	div.acn{
		width: 30vw;
		margin-left: auto;
		margin-right: auto;
	}

	.about .container{
		display: grid;
		grid-template-columns: 3fr 2fr;
		align-items: center;
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}

	.about .container .div1{
		grid-column: 1/2;
	}

	.about .container .div2{
		grid-column: 2/3;
	}

	form{
		width: 35vw;
	}

	p.acn_intro{
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}

	img.workplace, form{
		max-width: 30vw;
	}

}



@media (prefers-reduced-motion) {
	header p, .phil i, .events main i, img.acn {
	 animation:none;
	}

 }



