body{
	display: grid;
	font-family: 'Playfair Display', serif, monospace, "Book Antiqua" , Arial, "Times New Roman";
}

header{
	font-size: 14px;
	height: 20vh;
	background-image: url("../images/bcg.jpg");
	background-size:cover;
	align-items: center;
	justify-content: right;
}

@keyframes move{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

header p{
	font-size: 14px;
	width: 80%;
	margin: 50px 0 auto 10px;
	padding: 5px;
	color:black;
	background-color:rgba(255, 255, 255, 0.741);
	font-weight: bold;
	line-height: 125%;
	animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

nav{
	padding-top: 10px;
	text-align: end;
}

nav li{
	display: inline;
	padding: 0 10px;
}

nav li a{
	color:rgb(0, 0, 0);
	text-decoration: none;
	font-weight: bold;
}

.active{
	color:white;
	background-color:rgba(151, 47, 47, 0.797);
}

h1{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding: 15px;
}

p{
	font-size: 16px;
	margin: 0 10px;
	text-align:left;
	line-height: 150%;
}


strong{
	font-weight: bold;
}

img{
	max-width:100vw;
}

img:hover{
	border: 2px dotted black;
}

@keyframes float1 {
	0% {
	  transform: translatey(0px);
	}
	25% {
	  transform: translatey(-5px);
	}
	50% {
		transform: translatey(0px);
	}
	75% {
		transform: translatey(5px);
	}
	100% {
	  transform: translatey(0px);
	}
  }

  @keyframes float2 {
	0% {
	  transform: translatex(0px);
	}
	25% {
	  transform: translatex(-5px);
	}
	50% {
		transform: translatex(0px);
	}
	75% {
		transform: translatex(2.5px);
	}
	100% {
	  transform: translatex(0px);
	}
  }

footer{
	font-size: 12px;
	padding: 15px 0;
	margin-top: 10px;
	background-color: black;
	color: white;
}

footer p, footer a{
	font-size: 12px;
	color:bisque;
}

footer a:visited{
	color:aquamarine;
}

/* HOME style */

main.home{
	text-align: center;
}

.phil{
	margin:0 30px;
	text-align: left;
}

.phil i{
	animation: float1 6s ease-in-out infinite;
}

.phil .quote{
	text-align: right;
}



/* EVENTS style */
.events main{
	text-align: center;
}

.events img{
	width: 75vw;	
}

.events aside{
	text-align: right;
	margin-bottom: 20px;
	margin-right: 8px;
}

.events aside a {
	font-style: italic;
}

.events main i{
	animation: float2 6s ease-in-out infinite;
}


/* TEAM style */

.team nav li a{
	color:rgb(255, 255, 255);
}

body.team{
	color: aliceblue;
	background-color:rgb(23, 22, 22);
}

header.team{
	height: 25vh;
	background-image: url("../images/gallery_9_team.png");
	background-size:cover;
	align-items: center;
}

.gallery{
	display: flex;
	flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
	align-items: center;
}

.team figure{
	position: relative;
	margin: 12px;
	padding: 0 0 10px 0;
	flex-basis: 100%;
}

.team figcaption {
	position: absolute;
	bottom: 30px;
	width: 100%;
	padding: 5px 0;
	line-height: 20px;
	background-color: rgba(151, 47, 47, 0.797);
	align-self: center;
}

.team img{
	margin: 0 0 0 -3px;
	padding: 1px;
	width: 100%;
	max-width: 500px;
	height: 100%;
}

.team img:hover{
	border: 2px dotted white;
}


/* ABOUT style */

main.about{
	text-align: center;
}

p.shows{
	text-align: center;
}

div.acn{
	margin:10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-items: center;
}

h1.acn{
	grid-column: 1/2;
}

img.acn{
	grid-column: 2/3;
	width:120px;
	animation: float2 6s ease-in-out infinite;
}

img.acn:hover{
	border: none;
}

img.workplace{
	margin-top: 15px;
}



@media all and (min-width:500px) {


	.gallery{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content:space-evenly;
		align-items: center;
	}

	.team figure{
		flex-basis: 500px;
	}

	.team img{
		min-height: 275px;
	}


	/* EVENTS style */

	/* .events main{
		display: grid;
		grid-template-columns: 1fr 3fr 3fr 1fr;
		grid-template-rows: auto;
	}

	img.event1, img.event3{
		grid-column: 2/3;
		width: 100%;
	}

	img.event2{
		grid-column: 3/4;
		width: 100%;
	} */
}

@media all and (min-width:700px) {
	header.team{
		height: 50vh;
	}
}

@media (prefers-reduced-motion) {
	header p, .phil i, .events main i, img.acn {
	 animation:none;
	}

 }



